@model Bangazon.Models.ProductViewModels.ProductTypeDetailViewModel

@{
    ViewData["Title"] = "Product Detail";
}

<h2 class="top-buffer">@Model.ProductType.Label</h2>

@foreach (var product in Model.Products)
{
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.ProductId">
                @Html.DisplayFor(modelItem => product.Title)
            </a>
        </div>
        <div class="col-md-7">@product.Description</div>
        <div class="col-md-2">@Html.DisplayFor(i => product.Price)</div>
    </div>
}
