@model Bangazon.Models.ProductViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Html.DisplayFor(model => model.Product.Title)</h2>
<h4>Posted by @Html.DisplayFor(model => model.Product.User.FirstName) @Html.DisplayFor(model => model.Product.User.LastName)</h4>

<div class="row">
    <div class="col-md-3">@Html.DisplayFor(model => model.Product.Description)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.Product.Price)</div>
    <div class="col-md-3">@Html.DisplayFor(model => model.Product.DateCreated)</div>
    <div class="col-md-3"><a asp-action="Purchase" asp-route-id="@Model.Product.ProductId">Purchase</a></div>
</div>

<div>
    &lt;&lt; <a asp-action="Index">Back to List</a>
</div>
