@model Bangazon.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Product Types";
}
<h2 class="top-buffer">Product Types</h2>

@foreach (var type in Model.GroupedProducts)
{
    <div class="row">
        <div class="col-md-12">
            <a asp-controller="ProductTypes" asp-action="Detail" asp-route-type="@type.TypeId">
                <h4>@type.TypeName (@Html.DisplayFor(modelItem => type.ProductCount))</h4>
            </a>
        </div>
    </div>
    foreach (var product in type.Products)
    {
        <div class="row">
            <div class="col-md-10">
                @product.Title
            </div>
            <div class="col-md-2">
                @product.Price.ToString("C")
            </div>
        </div>
    }
}
